* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #E1E2FA;

}
@font-face {
  font-family: 'Designer';
  src: url('./font-assests/impact/Impact.ttf') format('opentype');
}
@font-face {
  font-family: 'carving';
  src: url('./font-assests/made_carving_soft/MADECarvingSoftPERSONALUSE-Medium.otf') format('opentype');
}


body {
  background: linear-gradient(135deg, #181D35, #4E497F, #8A7DBE);
  
  display: flex;
  flex-direction: column;
}
.head {
  display: flex;
  justify-content: center;
  
  color: #eaeaea64;
  
}
.fhead {
  font-size: 45px;
  font-weight: bolder;
  margin-top: 20px;
 font-family: 'Designer', 'sans-serif';
 color: #ffffff;
 cursor: pointer;
  letter-spacing: 3px;


}

.flipped {
  display: inline-block;
  transform: scaleX(-1);
}

.main {
    display: flex;
    flex-wrap: wrap; 
    justify-content: center;
    gap: 100px; 
    max-width: 1000px; 
    margin: 0 auto; 
    margin-top: 60px;
    margin-bottom: 60px;
  }
  
  .card {
     flex: 0 1 45%;
    display: flex;
    font-family: 'carving', 'sans-serif';
    align-items: center;
    text-align: center;
    border-radius: 8px;
    padding-top: 10px;
    padding-bottom: 10px;
    cursor: pointer;
    background: linear-gradient(135deg, #20243A, #32394F);
    
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    transform: translateZ(0);
    position: relative; 
    transform-origin: center;
  
  }
 .card:hover {
    transform: scale(1.05); 
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    border: 2px solid white;
    z-index: 10;
}
  
.card img{
    height: 200px;
    width: 200px;
}
.name{
    color: #eaeaea;
    font-size: 30px;
    margin-left: 60px;
}
