* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #E1E2FA;
  }
  @font-face {
    font-family: 'carving';
    src: url('./font-assests/made_carving_soft/MADECarvingSoftPERSONALUSE-Thin.otf') format('opentype');
  }
  @font-face {
    font-family: 'carvingB';
    src: url('./font-assests/made_carving_soft/MADECarvingSoftPERSONALUSE-Bold.otf') format('opentype');
  }
  
  html{
    height: 100%;
  }
  body {
    background: linear-gradient(135deg, #181D35, #4E497F, #8A7DBE);
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .container{
    display: flex;
    align-items: center;
    flex-direction: column;
    
    height: auto;
    width: 1000px;
    background: linear-gradient(135deg, #20243A, #32394F);
    margin: 0 auto;
   color:#E0E0E0 ; 
   border-radius: 15px;
   font-family: 'carving', 'sans-serif';
   box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5)
  }
  
  img{
    height: 320px;
    width: 320px;
   margin-top: 40px;
   border-radius: 15px;
  }
  .arrow{
    display: flex;
    cursor: pointer; 
  }
  .left {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3c3c3c;
    font-size: 30px;
    color: white;
    margin-right: 700px;
    transition: all 0.3s ease;
  }
  .left:hover{
    box-shadow: 0 4px 15px rgba(0, 123, 123, 0.6); 
    transform: translateY(-2px); 
    border: white;
  }
  .right {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3c3c3c;
    font-size: 30px;
    color: white;
    
    transition: all 0.3s ease;
  }
  .right:hover{
    box-shadow: 0 4px 15px rgba(0, 123, 123, 0.6); 
    transform: translateY(-2px); 
    border: white;
  }
  .nameExercise{
    font-size: 50px;
    padding-top: 5px;
    font-weight: bold;
    text-align: center;
    font-family: 'carvingB','sans-serif' ;
  }
  .description{
    font-size: 20px;
    margin: 40px;
    width: 900px;
  }
  .disabled {
    background-color: #777; 
    color: #ccc; 
    cursor: not-allowed;
    box-shadow: none; 
    transform: none; 
  }